[Unit]
Description=Chat Test Blah Blah Blah

[Service]
WorkingDirectory=/var/www/html/chat
ExecStart=/usr/bin/dotnet /var/www/html/chat/NewTestChat.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=chat-server.
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target